.brand {
    background: $pink;
    display: flex;
    margin: 0 0 63px 0;
  
    &__title-wrapaper {
      display: flex;
      align-items: center;
      max-width: 800px;
      width: 100%;
      box-sizing: border-box;
      padding: 0 0 0 91px;
    }
  
    &__title {
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 58px;
      text-transform: uppercase;
      color: #222222;
    }
  
    &__title-wrapaper::before {
      content: "";
      margin-right: 16px;
  
      height: 92px;
      width: 12px;
  
      background: $dark-pink;
    }
  
    &__subtitle {
      display: block;
  
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
      color: #222222;
      display: flex;
    }
  
    &__subtitle::after {
      display: contents;
      content: " fashion";
      color: $dark-pink;
    }
  
    &__subtitle--pink {
      color: $dark-pink;
    }
  
    &__man-img {
      margin: 0 140px 0 0;
    }
  
    &__man-wrap {
      box-sizing: border-box;
      display: flex;
      justify-content: end;
      max-width: 800px;
      width: 100%;
    }
  }