.header {
    background: $dark-blue;
    display: flex;

    @include tablet() {
        padding: 0 4.2%;
    }


    &__wrapaper {
        box-sizing: border-box;
        display: flex;

        padding: 17px 0;
        justify-content: space-between;
        align-items: center;

    }

    &__menu-button {
        background-color: transparent;
        cursor: pointer;
    }

    &__backet-link {}

    &__person-link {
        @include mobile() {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
    }

    &__basket-link {
        @include mobile() {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;

        }
    }

    &__logo {
        margin: 0 34px 0 0;
    }

    &__controls {


        &--logo{
            justify-content: start;
        }

        max-width: 160px;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: space-between;

        @include mobile() {
            justify-content: end;
            &--logo{
                justify-content: start;
            }

        }


    }
}