%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  %header__button-link {
    margin: 0 34px 0 0;
  }

  @mixin font($size:1em,$height:1em,$weight:400,$style:normal){
    font-size: $size;
    line-height:$height;
    font-weight: 400;
    font-style: $style;



  }