.order{
    max-width: 360px;
    width: 100%;
    margin: 0 0 0 30px;
    @include tablet(){
        margin: 0 0 0 0;
        display: flex;
        max-width: none;
        justify-content: space-between;
        

    }
    @include mobile(){
        flex-direction: column;

    }

    &__form{

        display: flex;
        flex-direction: column;
        margin-bottom: 57px;
        flex-grow: 1;

    }

    &__input{
        border: 1px solid #A4A4A4;
        margin-bottom: 20px;
        width: 100%;
        @include tablet(){
            padding: 1.59vw 1.59vw;
            font-size: 2vw;

        }
        @include mobile(){
            font-size: 13px;
            padding: 14px 17px;

        }
    }

    &__heading{
        
        margin-bottom: 20px;
        @include font(16px, 19px,300);
        color: $dark-blue;
        text-transform: uppercase;
        @include tablet(){
            font-size: 2vw;
        }
        @include mobile(){
            font-size: 16px;

        }

    }

    &__btn{
        outline: 1px solid #A4A4A4;
        max-width: 100px;
        width: 100%;
        @include font(11px,13px,200);
        color: #A4A4A4;
        padding: 10px 9px;
        @include tablet(484px){
            padding: 2vw 1.95vw;

        }
        @include mobile(){
            padding: 10px 9px;
            font-size: 11px;
            

        }
        

        &:hover{
            cursor: pointer;
            transform: scale(1.1,1.1);
            box-shadow: inset 0 0 4px ;
        }



    }

    &__checkpoint{

        
        background-color: #F5F3F3;;
        min-height: 214px;
        display: flex;
        flex-direction: column;
        padding: 2.5vw;
        align-items: center;
        justify-content: center;
        @include desktop(){
            padding: 40px;
        }
        @include tablet(){
            padding: 5.2vw 5.2vw 110px 5.2vw;
            min-width: 213px;
            justify-content: end;

            
        }
        @include tablet(500px){
            padding-right: 0;
            margin: 0 auto;

        }
        @include mobile(){

            padding: 0;
            justify-content: center;


        }
        &-heading{
            display: block;
            display: flex;
            width: 100%;
            justify-content: end;
            flex-wrap: wrap;
            min-width: 159.625px;
            
            
            padding: 12px 0 21px;
            
            color: $dark-blue;
            @include font(1vw,19px,600);
            border-bottom: 1px solid #E2E2E2;
            margin-bottom: 17px;
            
            @include desktop(){
                @include font(16px,19px,600)
            }
            @include tablet(1214px){
                font-size: 12px;
                }
            
            @include mobile(){
                @include font(16px, 19px, 400)

            }





        }
        &-text{
            width: 100%;
            text-align: end;
            color: $dark-blue;
            @include font(12px,13px,200);
            color: #4A4A4A;

     
        }

        &-summ{
            margin-left: 12px;
            color:$dark-pink;
            font:inherit;
            


        }
        &-summ--gray{
           
         
            color: inherit;
        }

        &-btn{
   
            color: #FFFFFF;
            max-width:none;
            background: #F16D7F;
            display: inline-block;
            @include font(16px,19px,100);
            @include tablet(){
                padding: 1.8vw 1.8vw;
                font-size: 12px;
                max-width: none;
                line-height: normal;

            }
            @include tablet(613px){
                padding: 1.8vw 1.8vw;
                max-width: none;
                width: 100%;
                line-height: normal;
                
    
            }
            @include mobile(){
                @include font(16px,19px,100);
                padding: 16px 16px;


            }
    
            
        }

    }


    

}