$dark-blue: #222222;
$pink: #f1e4e6;
$dark-pink: #f16d7f;
$offers__item-1_backround: url(/img/offers_list_item-1.png);
$offers__item-2_backround: url(/img/offers_list_item-2.jpg);
$offers__item-3_backround: url(/img/offers_list_item-3.jpg);
$offers__item-4_backround: url(/img/offers_list_item-4.jpg);